.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}
.publicacion {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.publicacion img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
.interacciones-publicacion {
  margin-top: 10px;
  color: #555;
}
.comentarios {
  margin-top: 15px;
  text-align: left;
}
.comentario {
  background: #f0f0f0;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
}
.AgPublicacion {
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  margin-left: 360px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block;
}
/* Efecto al pasar el cursor */
.AgPublicacion:hover {
  background-color: #3c4045;
}